# LLM
OPENAI_API_KEY=sk-proj-zzzzz

# Vector DB (Pinecone)
PINECONE_API_KEY=pcsk_zzzzz
PINECONE_INDEX=agentic-rag-index

# Langfuse setup
LANGFUSE_SECRET_KEY = "sk-lf-zzzz"
LANGFUSE_PUBLIC_KEY = "pk-lf-zzzz"
LANGFUSE_BASE_URL = "https://cloud.langfuse.com"